{% extends 'base.html' %}
{% load static %}
{% block tittle %}Inicio{% endblock %}

{% block body %}
    <h2>Welcome</h2>


    {% for a in tracklist %}
    <div class="tracklist">
        <div class="contenedr">

            <div class="lsita">
                <h5>{{ a.id_album.name | capfirst }}</h5>
                <h2>{{ a.id_album.get_album_type_display}}</h2>
                <h2>{{ a.id_album.url | title }}</h2>
                <h2>{{ a.id_song.name | title }}</h2>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}